<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindbees.medicinereminder">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.mindbees.medicinereminder.App.MedicineReminder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.mindbees.medicinereminder.UI.Model.BootReceiver">
            <intent-filter android:priority="500"
                >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mindbees.medicinereminder.UI.Model.OnAlarmReceiver" />

        <service android:name="com.mindbees.medicinereminder.UI.DataBase.Services.ReminderService" />
        <activity android:name=".UI.Splash_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScren">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivityType"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.Tutorial_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.EditReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

            <activity android:name=".UI.AlertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
             />
        <!--<activity android:name=".UI.Activity_Select_type"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme"-->
            <!--/>-->
        <activity android:name=".UI.HISTORY_ACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <!--<activity android:name=".UI.Activity_Select_type_2"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme"-->
            <!--/>-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UI.LoginNow"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.AddReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity android:name=".UI.AddAppointments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.SetNightBrushing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.MedicineReminderActivity"
            android:label="@string/title_activity_medicine_reminder"
            android:theme="@style/AppTheme"/>
        <activity android:name=".UI.EditAppointments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.SetWaterReminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.AlarmSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>